/* BASE STYLES */

@import 'variables';

html, html *, html *:before, html *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: $headers;
}

h1 {
  text-align: center;
  font-size: 2em;
  background-color: $headers;
  color: $headerText;
  margin: 0;
  padding: 20px;
}

a {
  color: $links;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: $text;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  margin: 1em 0;
  padding: 0;
}

article {
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0;
  display: block;
}