/* HEADER STYLES */

@import '../../scss/base/variables';

.block {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  min-width: $minWidth;
  margin: 0 auto;
}

.block li {
  list-style-type: none;
  padding: 20px;
  font-size: 20px;
}