@import 'components/variables';

html, html *, html *:before, html *:after {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-align: center;
  color: $headers;
}

a {
  color: $links;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: $text;
}

article {
  min-width: $minWidth;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
}